@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
}

a:hover {
    text-decoration: none !important;
}

.top-bar1 {
    padding: 10px 0px;
    background-color: #252628;
}

.contact-detail a {
    margin-right: 10px;
    color: #fff;
    font-weight: 400;
}

.contact-detail a:hover {
    color: #fff;
}

.contact-detail a i {
    margin-right: 5px;
    color: #EC3237;
}

.social-icon {
    float: right;
}

.social-icon a {
    margin-left: 20px;
    font-size: 22px;
    color: #fff;
}

.social-icon a:hover {
    color: #fff;
}

.contact-detail {
    display: flex;
    gap: 20px;
}

#navbarNavAltMarkup {
    justify-content: end;
}

.navbar-nav {
    gap: 20px;
    font-size: 16px;
}

.nav-item:hover .dropdown-menu {
    display: block !important;
}

.custom-nav {
    padding: 0px;
}

.link-nav {
    padding: 0px 0px;
}

.link-nav:hover {
    color: #EC3237;
}

.navbar-light .navbar-nav .nav-link {
    color: #666666;
    font-weight: 400;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #EC3237;
}

.nav-pills {
    display: flex;
    gap: 30px;
}

.nav-pills .nav-link {
    color: #000;
    background-color: #ffffff;
    border: 1px solid #666666;
    border-radius: 0px;
    text-align: center;
    padding: 15px 15px;
}

.nav-pills .nav-link.active {
    border-right: 5px solid #EC3237;
    background-color: #fff;
    color: #000;
}

#our-story {
    padding: 40px 0px;
}

/* tab pannel  */

.tab-pane h2 {
    font-size: 40px;
    font-weight: 700;
}

.tab-pane p {
    font-weight: 400;
    margin-bottom: 25px;
}

.nav-link p {
    font-weight: 400;
    margin-bottom: 0px;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #fff !important;
    color: #000 !important;
}

/* counter */

.sectionClass {
    padding: 20px 0px 50px 0px;
    position: relative;
    display: block;
}

.fullWidth {
    width: 100% !important;
    display: table;
    float: none;
    padding: 0;
    min-height: 1px;
    height: 100%;
    position: relative;
}

.sectiontitle {
    background-position: center;
    margin: 30px 0 0px;
    text-align: center;
    min-height: 20px;
}

.sectiontitle h2 {
    font-size: 30px;
    color: #222;
    margin-bottom: 0px;
    padding-right: 10px;
    padding-left: 10px;
}

.headerLine {
    width: 160px;
    height: 2px;
    display: inline-block;
    background: #101F2E;
}

.projectFactsWrap {
    display: flex;
    margin-top: 30px;
    flex-direction: row;
    flex-wrap: wrap;
}

#projectFacts .fullWidth {
    padding: 0;
}

.projectFactsWrap .item {
    width: 25%;
    height: 100%;
    padding: 50px 0px;
    text-align: center;
}

.projectFactsWrap .item:nth-child(1) {
    background: rgb(16, 31, 46);
}

.projectFactsWrap .item:nth-child(2) {
    background: rgb(18, 34, 51);
}

.projectFactsWrap .item:nth-child(3) {
    background: rgb(21, 38, 56);
}

.projectFactsWrap .item:nth-child(4) {
    background: rgb(23, 44, 66);
}

.projectFactsWrap .item p.number {
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    font-weight: bold;
}

.projectFactsWrap .item p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 10px;
    /* font-family: 'Open Sans'; */
}

.projectFactsWrap .item span {
    width: 60px;
    background: rgba(255, 255, 255, 0.8);
    height: 2px;
    display: block;
    margin: 0 auto;
}

.projectFactsWrap .item i {
    vertical-align: middle;
    font-size: 50px;
    color: rgba(255, 255, 255, 0.8);
}

.projectFactsWrap .item:hover i,
.projectFactsWrap .item:hover p {
    color: white;
}

.projectFactsWrap .item:hover span {
    background: white;
}

@media (max-width: 786px) {
    .projectFactsWrap .item {
        flex: 0 0 50%;
    }
}

/* AUTHOR LINK */



.about-me-img {
    width: 120px;
    height: 120px;
    left: 10px;
    /* bottom: 30px; */
    position: relative;
    border-radius: 100px;
}

/* .about-me-img img {
} */

.authorWindow {
    width: 600px;
    background: #75439a;
    padding: 22px 20px 22px 20px;
    border-radius: 5px;
    overflow: hidden;
}

.authorWindowWrapper {
    display: none;
    left: 110px;
    top: 0;
    padding-left: 25px;
    position: absolute;
}

.trans {
    opacity: 1;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    transition: all 500ms ease;
}

@media screen and (max-width: 768px) {
    .authorWindow {
        width: 210px;
    }
    .authorWindowWrapper {
        bottom: -170px;
        margin-bottom: 20px;
    }
    
}

.tabs-width a {
    width: 100%;
}

section#counter-stats {
    display: flex;
    justify-content: center;
    padding: 40px 0px;
}

.stats {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.stats .fa {
    color: #008080;
    font-size: 60px;
}

#about-us {
    padding: 40px 0px;
}

.about-right-content {
    padding: 0px 40px;
}

.about-right-content h3 {
    text-align: center;
    font-size: 18px;
}

.about-right-content h2 {
    font-size: 25px;
    text-align: center;
    color: #EC3237;
}

.about-right-content p {
    font-weight: 400;
    font-size: 16px;
    text-align: justify;
}

.brand-title {
    text-align: center;
}

.brand-title h2 {
    font-size: 40px;
    color: #fff;
    font-weight: 700;
}

#brands-section {
    background-color: #252628;
    background-attachment: fixed !important;
    background-position: bottom !important;
    padding: 40px 0px;
}



#brands-section::before {
    background-color: rgba(0, 0, 0, 0.37);
    content: '';
    display: block;
    /* height: 100%; */
    position: absolute;
    width: 100%;
}

.brands p {
    margin-bottom: 10px;
}





.our-service h3 {
    font-weight: 700;
    margin-bottom: 15px;
    color: #fff;
}

.our-service p a {
    text-decoration: none;
}

.our-service p {
    font-weight: 400;
    color: #b0b0b0;
    margin-bottom: 10px;
}

.our-service i {
    margin-right: 10px;
}

.brands h3 {
    font-weight: 700;
    margin-bottom: 15px;
    color: #fff;
}

.brands i {
    margin-right: 10px;
}

.brands p {
    font-weight: 400;
    color: #b0b0b0;
}

.useful-link i {
    margin-right: 10px;
}

.useful-link h3 {
    font-weight: 700;
    margin-bottom: 15px;
    color: #fff;
}

.useful-link p {
    font-weight: 400;
    color: #b0b0b0;
    margin-bottom: 10px;
}



.social-icon img {
    margin-right: 5px;
}

/* footer  */



.address {
    background-color: #000;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}





.nopadding {
    margin: 0px !important;
    padding: 0px !important;
}

.copyright {
    padding: 15px 0px;
}

.copyright p {
    margin-bottom: 0px;
    text-align: right;
    color: #b0b0b0;
    font-weight: 400;
}

/* new brands section  */

.card-body a {
    background-color: #EC3237;
    padding: 8px 15px;
    color: #fff;
    border-radius: 5px;
}

.card-body a:hover {
    color: #fff;
}

.text-right a {
    background-color: #EC3237;
    border: none;
}

.text-right a:hover {
    background-color: #EC3237;
}

.card-body p {
    font-size: 20px;
}

/* =======================
NEW CAR PAGE 
======================= */

#car-brands {
    padding: 40px 0px 40px 0px;
    background-color: #252628;
    color: #fff;
}

.nav-tabs {
    border-bottom: 0px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    border-color: #fff;
}

.new-car-heading {
    text-align: center;
}

.new-car-heading h1 {
    margin-bottom: 20px;
}

.car-image {
    margin-bottom: 10px;
}

.car-card-text {
    padding: 5px 15px;
}

.car-card-text p {
    margin-bottom: 5px;
    color: #000;
}

.car-card-text h3 {
    color: #000;
}

.car-button a {
    background-color: #EC3237;
    color: #fff;
    font-weight: 400;
    display: block;
    text-align: center;
    padding: 10px 0px;
}

.new-brand-logo {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.main-card {
    /* background-color: #252628; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.contact-banner {
    position: relative;
    text-align: center;
    color: white;
}

.contact-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.new-car-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.main-card {
    width: 23%;
}

.tab-car {
    margin-bottom: 20px;
}

.top-bar1 {
    background-color: #252628;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    background-color: #EC3237 !important;
    border: none !important;
}

.btn-primary.focus,
.btn-primary:focus {
    background-color: #EC3237 !important;
    box-shadow: none !important;
}

/* CONTACT US  */

/* Style the buttons that are used to open and close the accordion panel */

/* .accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
} */

/* Style the accordion panel. Note: hidden by default */

/* .panel {
  /* padding: 0 18px; */

/* background-color: white;
  display: none;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin: 10px 0px;
  background-color: rgb(235, 235, 235);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #dddddd;
} */

/* .location-text i{

  color: #ec3237;
} */

/* .location-text p{
  font-weight: 400;
  font-size: 16px;
  color: #000;
  margin-bottom: 10px;
} */

/* =============================
carrer page
============================= */

#job-opning {
    padding: 40px 0px;
}

.job-opning-heading h3 {
    font-size: 25px;
    font-weight: 700;
}

.job-opning-heading h2 {
    font-size: 45px;
    /* font-weight: 700; */
    color: #EC3237;
}

.vacancie-text {
    /* width: 50%; */
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-position p {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 0px;
}

.text-position a {
    font-weight: 400;
}

.apply-now-button a {
    font-weight: 400;
    padding: 10px 20px;
    background-color: #EC3237;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
}

.offer-point-parent {
    display: flex;
    flex-wrap: wrap;
}

.point-one {
    width: 48%;
    display: flex;
    padding: 20px;
}

.point-image {
    margin-right: 20px;
}

.carrer-offer h2 {
    font-size: 35px;
    font-weight: 700;
    color: #EC3237;
}

.point-text p {
    font-weight: 400;
}

.point-text h3 {
    font-size: 25px;
    color: #EC3237;
    font-weight: 700;
}

.form-carrer-page {
    padding: 20px 50px;
}

.form-group {
    margin-bottom: 15px;
}

/* gallery us  */

.heading {
    text-align: center;
    font-size: 2.0em;
    letter-spacing: 1px;
    padding: 40px;
    color: #000;
}

.gallery-image {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-image img {
    height: 250px;
    width: 350px;
    transform: scale(1.0);
    transition: transform 0.4s ease;
}

.img-box {
    box-sizing: content-box;
    margin: 10px;
    height: 250px;
    width: 350px;
    overflow: hidden;
    display: inline-block;
    color: white;
    position: relative;
    background-color: white;
}

.caption {
    position: absolute;
    bottom: 5px;
    left: 20px;
    opacity: 0.0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.transparent-box {
    height: 250px;
    width: 350px;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    transition: background-color 0.3s ease;
}

.img-box:hover img {
    transform: scale(1.1);
}

.img-box:hover .transparent-box {
    background-color: rgba(0, 0, 0, 0.5);
}

.img-box:hover .caption {
    transform: translateY(-20px);
    opacity: 1.0;
}

.img-box:hover {
    cursor: pointer;
}

.caption>p:nth-child(2) {
    font-size: 0.8em;
}

.opacity-low {
    opacity: 0.5;
}

/* book service page */

#servive-content {
    background-color: #252628;
    color: #fff;
    padding: 40px 0px;
    text-align: center;
}

#bookservice-form {
    padding: 40px 0px;
}

.bookservice-form {
    padding: 0px 50px;
}

.heading-bookservice h2 {
    text-align: center;
    color: #EC3237;
    margin-bottom: 20px;
    font-size: 25px;
}

.margin-bookservice {
    margin-bottom: 20px;
}

.bookservice-button {
    background-color: #EC3237 !important;
    color: #fff !important;
    border: none !important;
    padding: 8px 25px !important;
    font-size: 16px !important;
}

.form-control:focus {
    border-color: #ced4da !important;
    outline: 0;
    box-shadow: none !important;
}

/* insurence page  */

#insurence-content {
    padding: 40px 0px;
    background-color: #252628;
}

.insurence-content-text {
    color: #fff;
    text-align: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#tsg-insure-detail {
    padding: 40px 0px;
}

.tsg-insure-text a {
    color: #EC3237;
    font-size: 30px;
}

.tsg-insure-text a:hover {
    color: #EC3237;
}

.tsg-insure-text a h3 {
    font-size: 30px;
}

.tsg-insure-text p {
    text-align: justify;
}

.tsginsure-banner img {
    border-radius: 20px;
}

.insurencetext h2 {
    font-size: 25px;
    text-align: center;
    color: #EC3237;
}

.insurence-form {
    padding: 20px 40px;
}

#form-insurence {
    padding: 40px 0px;
}

.insurence-logo {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.insurence-logo img {
    border-radius: 10px;
}

/* csr page  */

#csr-toptext {
    padding: 40px 0px;
    background-color: #252628;
}

.csr-content {
    color: #fff;
    text-align: center;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#csr-data {
    background-image: url("../image/csr-2bg-min.png") !important;
    padding: 20px 0px;
}

/* term condition  */

#term-condition {
    padding: 40px 0px;
}

/* privecy policy page  */

#privacy-policy {
    padding: 40px 0px;
}

/* perchase t&c  */

#pourchase-tc {
    padding: 40px 0px;
}

/* refundpage  */

#refund-page {
    padding: 40px 0px;
}

/* home page brands  */

/* new brands section  */

.brands-logo-parent {
    /* background-color: #fff; */
    text-align: center;
}

.brands-logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0px 80px;
}

.brand-one {
    width: 12%;
    width: 145px;
    /*height: 145px;*/
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
    transition: all ease 0.2s;
}

.brand-one:hover {
    transform: scale(1.1);
}

.brand-one img {
    border-radius: 10px;
}

/* count up  */

.align {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.stat-wrap {
    background: #252628;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    width: 100%;
    div {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }
}

.text-cout {
    color: #EC3237;
}

.stat-number {
    display: block;
    font-size: 35px;
    font-weight: bold;
    color: white;
}

/* contact us page  */

#contact-us-section {
    padding: 40px 0px;
    background-color: #252628;
}

.contact-us-detail {
    color: #fff;
}

.call-mail {
    display: flex;
    text-align: center;
    gap: 20px;
    justify-content: space-around;
    margin-bottom: 40px;
}

.contact-call i {
    font-size: 50px;
}

.contact-call a {
    color: #fff;
}

.contact-call a:hover {
    color: #fff;
}

.contact-mail i {
    font-size: 50px;
}

.contact-mail a {
    color: #fff;
}

.contact-mail a:hover {
    color: #fff;
}

.social-icons-contact-us {
    text-align: center;
    margin-bottom: 40px;
}

.social-icons-contact-us a {
    color: #fff;
    font-size: 25px;
    margin: 0px 10px;
}

.social-icons-contact-us a:hover {
    color: #fff;
}

.location-contact-us {
    text-align: center;
}

.location-contact-us i {
    font-size: 50px;
}

.location-contact-us a {
    color: #fff;
}

.location-contact-us a:hover {
    color: #fff;
}

.contact-form {
    background-color: #f4f4f4;
    padding: 30px;
}

.contact-form-location {
    background-color: #f4f4f4;
    padding: 30px;
}

.locations-contact-us {
    text-align: center;
}

.term-page {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

/* testimonial  */

.owl-carousel {
    display: flex;
}

.shadow-effect {
    background: #fff;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
    border: 1px solid #ECECEC;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.10), 0 15px 12px rgba(0, 0, 0, 0.02);
}

#customers-testimonials .shadow-effect p {
    font-family: inherit;
    font-size: 17px;
    line-height: 1.5;
    margin: 0 0 17px 0;
    font-weight: 300;
}

.testimonial-name {
    margin: -17px auto 0;
    display: table;
    width: auto;
    background: #252628;
    padding: 9px 35px;
    border-radius: 12px;
    text-align: center;
    color: #fff;
    box-shadow: 0 9px 18px rgba(0, 0, 0, 0.12), 0 5px 7px rgba(0, 0, 0, 0.05);
}

#customers-testimonials .item {
    text-align: center;
    /* padding: 50px; */
    margin-bottom: 80px;
    /* opacity: .2; */
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#customers-testimonials .owl-item.active.center .item {
    opacity: 1;
    -webkit-transform: scale3d(1.0, 1.0, 1);
    transform: scale3d(1.0, 1.0, 1);
}

.owl-carousel .owl-item img {
    transform-style: preserve-3d;
    max-width: 90px;
    margin: 0 auto 17px;
}

#customers-testimonials.owl-carousel .owl-dots .owl-dot.active span,
#customers-testimonials.owl-carousel .owl-dots .owl-dot:hover span {
    background: #252628;
    transform: translate3d(0px, -50%, 0px) scale(0.7);
}

#customers-testimonials.owl-carousel .owl-dots {
    display: inline-block;
    width: 100%;
    text-align: center;
}

#customers-testimonials.owl-carousel .owl-dots .owl-dot {
    display: inline-block;
}

#customers-testimonials.owl-carousel .owl-dots .owl-dot span {
    background: #252628;
    display: inline-block;
    height: 20px;
    margin: 0 2px 5px;
    transform: translate3d(0px, -50%, 0px) scale(0.3);
    transform-origin: 50% 50% 0;
    transition: all 250ms ease-out 0s;
    width: 20px;
}

/* used car  */

#used-car {
    padding: 40px 0px;
}

.button-link {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
}

.button-link a {
    background-color: #ec3237;
    padding: 10px 30px;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
}

.button-link a:hover {
    color: #fff;
}

.used-car-cardparent {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.usedcar-text h4 {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 20px;
}

.usedcar-text p {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
}

.usedcar-card {
    width: 31%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 0px 0px 15px 0px;
}

.transmition-detail {
    display: flex;
    margin: 5px 0px;
}

.transmition-detail p {
    /* width: 24%; */
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}

.transmition-detail p:nth-child(1) {
    border-right: 1px solid #dbdbdb;
    width: 24%;
}

.transmition-detail p:nth-child(2) {
    border-right: 1px solid #dbdbdb;
    width: 24%;
}

.transmition-detail p:nth-child(3) {
    border-right: 1px solid #dbdbdb;
    width: 24%;
}

.transmition-detail p:nth-child(4) {
    width: 27%;
}

.used-car-image img {
    margin-bottom: 15px;
}

.usedcar-text {
    padding: 0px 15px;
}

.usedcar-button {
    padding: 0px 15px;
}

.usedcar-button {
    display: flex;
    justify-content: space-between;
}

.usedcar-button a:nth-child(1) {
    padding: 10px 15px;
    background-color: #ec3237;
    color: #fff;
}

.usedcar-button a:nth-child(2) {
    padding: 10px 15px;
    background-color: #252628;
    color: #fff;
}

.transmition-detail {
    display: flex;
    justify-content: space-between;
}

/* tabs our location  */

.tabbable-panel {
    border: 2px solid #d7d7d7;
    /* padding: 10px; */
}

.tabbable-line>.nav-tabs {
    border: none;
    margin: 0px;
}

.tabbable-line>.nav-tabs>li {
    margin-right: 2px;
}

.tabbable-line>.nav-tabs>li>a {
    border: 0;
    margin-right: 0;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
}

.tabbable-line>.nav-tabs>li>a:hover {
    color: #b0b0b0 !important;
}

.tabbable-line>.nav-tabs>li>a>i {
    color: #a6a6a6;
}

.tabbable-line>.nav-tabs>li.open,
.tabbable-line>.nav-tabs>li:hover {
    /* border-bottom: 4px solid rgb(80,144,247); */
}

.tabbable-line>.nav-tabs>li.open>a,
.tabbable-line>.nav-tabs>li:hover>a {
    border: 0;
    background: none !important;
    color: #333333;
}

.tabbable-line>.nav-tabs>li.open>a>i,
.tabbable-line>.nav-tabs>li:hover>a>i {
    color: #a6a6a6;
}

.tabbable-line>.nav-tabs>li.open .dropdown-menu,
.tabbable-line>.nav-tabs>li:hover .dropdown-menu {
    margin-top: 0px;
}

.tabbable-line>.nav-tabs>li.active {
    border-bottom: 4px solid #32465B;
    position: relative;
}

.tabbable-line>.nav-tabs>li.active>a {
    border: 0;
    color: #333333;
}

.tabbable-line>.nav-tabs>li.active>a>i {
    color: #404040;
}

.tabbable-line>.tab-content {
    margin-top: -3px;
    background-color: #fff;
    border: 0;
    border-top: 2px solid #d7d7d7;
    /*padding: 15px 0;*/
}

.portlet .tabbable-line>.tab-content {
    padding-bottom: 0;
}

/* new location vertical tab  */

.left-location {
    border-radius: 0px !important;
    border: none !important;
    text-align: left !important;
}

.location-anchore {
    color: #ec3237 !important;
}

.locationwise-text {
    margin-bottom: 20px;
}

.locationwise-text p {
    color: #000 !important;
    margin-bottom: 0px;
    display: flex;
}

.location-anchore span {
    font-size: 20px;
}

.custom-height {
    height: 500px;
    max-width: 400px;
    overflow-x: hidden !important;
    overflow-y: auto !important;
}

/* width */

.custom-height::-webkit-scrollbar {
    width: 10px;
}

/* Track */

.custom-height::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */

.custom-height::-webkit-scrollbar-thumb {
    background: #ec3237;
}

/* Handle on hover */

.custom-height::-webkit-scrollbar-thumb:hover {
    background: #ec3237;
}

.flex-column {
    flex-direction: row !important;
}

.new-tab-padding {
    padding: 15px 50px !important;
    background-color: #252628;
}

#loaction-wise-map {
    margin: 40px 0px;
}

.locationwise-text a {
    color: #ec3237;
    margin-left: 5px;
}

.locationwise-text a:hover {
    color: #ec3237;
    margin-left: 5px;
}

.apply-now-button a:hover {
    color: #fff;
}

.payment-button {
    background-color: #ec3237;
    padding: 5px 20px;
    font-size: 16px !important;
    border-radius: 5px;
}

.testimonial-heading h2 {
    text-align: center;
    margin-bottom: 2%;
    font-size: 35px;
}

.shadow-effect img {
    border-radius: 50%
}

.topbar-mobile {
    background-color: #252628;
    padding: 15px 0px;
}

.pay-button a {
    color: #fff;
}

.pay-button a:hover {
    color: #fff;
}

/* accodian */

button:focus {
    outline: none !important;
}

#faq-section {
    padding: 40px 0px;
}

.accordion .accordion-item {
    border-bottom: 1px solid #e5e5e5;
}

.accordion .accordion-item button[aria-expanded='true'] {
    border-bottom: 1px solid #03b5d2;
}

.accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: #7288a2;
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
}

.accordion button:hover,
.accordion button:focus {
    cursor: pointer;
    color: #03b5d2;
}

.accordion button:hover::after,
.accordion button:focus::after {
    cursor: pointer;
    color: #03b5d2;
    border: 1px solid #03b5d2;
}

.accordion button .accordion-title {
    padding: 1em 1.5em 1em 0;
}

.accordion button .icon {
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 0;
    width: 22px;
    height: 22px;
    border: 1px solid;
    border-radius: 22px;
}

.accordion button .icon::before {
    display: block;
    position: absolute;
    content: '';
    top: 9px;
    left: 5px;
    width: 10px;
    height: 2px;
    background: currentColor;
}

.accordion button .icon::after {
    display: block;
    position: absolute;
    content: '';
    top: 5px;
    left: 9px;
    width: 2px;
    height: 10px;
    background: currentColor;
}

.accordion button[aria-expanded='true'] {
    color: #03b5d2;
}

.accordion button[aria-expanded='true'] .icon::after {
    width: 0;
}

.accordion button[aria-expanded='true']+.accordion-content {
    opacity: 1;
    max-height: 9em;
    transition: all 200ms linear;
    will-change: opacity, max-height;
}

.accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
}

.accordion .accordion-content p {
    font-size: 1rem;
    font-weight: 300;
    margin: 2em 0;
}

.privacy-heading h2 {
    text-align: center;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #ec3237 !important;
}

/* ========================
location page 
======================== */

#introduction-location {
    padding: 40px 0px;
}

.location-text {
    text-align: center;
}

.location-text p {
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
}

.car-image {
    text-align: center;
}

.top-car-parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.car-image {
    width: 20%;
}

.car-image p {
    color: #000;
}

.car-image img {
    transition: transform .3s;
}

.car-image:hover img {
    transform: scale(1.1);
}

/* tab portion */

.showroom-tabs-location {
    text-align: center;
}

.showroom-tabs-location h3 {
    font-size: 40px;
}

.custom-design-location li {
    width: 30% !important;
}

.custom-design-location li a {
    font-size: 20px !important;
    color: #000 !important;
}

.custom-design-location>li.active>a {
    background-color: #ec3237 !important;
    font-size: 20px;
    color: #fff !important;
}

.sales-location-content {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.loation-vise-card {
    width: 23%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 0.5s;
    border-radius: 5px;
}

.loation-vise-card:hover {
    transform: scale(1.05);
}

.rating {
    margin-bottom: 8px;
    text-align: center;
}

.star p:nth-child(1) {
    margin-bottom: 0px;
}

/* .location-custom-tab{
  justify-content: center !important;
}
.nav-pills .custom-anchor{
  border: none;
}
.location-custom-tab li{
  border: 1px solid;
  /* width: 28px !important; */

/* } */

/* .location-custom-tab .custom-list .active{
  
  border-right: 0px !important;
  border: none;
} */

/* new tab  */

#location-tabs {
    padding-bottom: 60px;
}

#location-tabs .container h2 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 40px;
    /* font-weight: 700; */
}

.custom-ul {
    border-bottom: 0px !important;
    margin-bottom: 20px !important;
    padding: 0px 15px !important;
    justify-content: center !important;
    gap: 20px !important;
}

.custom-ul .cutom-list-button a {
    padding: 8px 80px;
    background-color: #ec3237;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
}

.content-location-text h3 {
    font-size: 18px;
    color: #000;
}

.content-location-text {
    padding: 10px;
}

.star-parent p {
    color: #000;
    margin-bottom: 0px;
}

.star-parent p:nth-child(2) {
    margin-bottom: 0px;
    margin-left: 5px;
}

.star-parent {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.location-image img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* work location  */

#working-time {
    /* padding: 40px 0px; */
}

.location-parent {
    display: flex;
    align-items: center;
    /* border: 1px solid; */
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px 0px;
}

.location-text-one p {
    margin-bottom: 0px;
}

.location-text-one p a {
    color: #000;
}

.location-image-one {
    width: 15%;
}

.location-text-one h4 {
    margin-bottom: 0px;
}

.location-text-one {
    text-align: left;
}

#facility {
    padding: 40px 0px;
}

.heading-facility h2 {
    font-size: 40px;
    text-align: center;
}

.modal-dialog {
    max-width: 730px;
}

.wrap-modal-slider {
    padding: 0 30px;
    opacity: 0;
    transition: all 0.3s;
}

.wrap-modal-slider.open {
    opacity: 1;
}

.slick-prev:before,
.slick-next:before {
    color: red;
}

.text-facility h3 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 20px;
}

.custom-position {
    position: fixed;
    border-radius: 0px !important;
    left: 0%;
    right: 100%;
    top: 50%;
    z-index: 10;
    width: 12%;
}

/* slider css  */

.slide-container {
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
}

.slide-content {
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
}

.card {
    border-radius: 25px;
    background-color: #FFF;
}

.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 10px 14px; */
}

.card-content {
    padding-bottom: 25px;
    padding-left: 45px;
    padding-right: 45px;
}

.image-content {
    position: relative;
    row-gap: 5px;
    padding: 0 0 25px 0;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #ec3237;
    border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #ec3237;
}

.overlay::after {
    border-radius: 0 25px 0 0;
    background-color: #FFF;
}

.card-image {
    /* position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%; */
    background: #FFF;
    /* padding: 3px; */
}

/* .card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #4070F4;
} */

.name {
    font-size: 18px;
    font-weight: 500;
    color: #333;
    text-align: center;
}

.description {
    font-size: 14px;
    color: #707070;
    text-align: center;
}

.button {
    border: none;
    font-size: 16px;
    color: #FFF;
    padding: 8px 16px;
    background-color: #ec3237;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    background: #ec3237;
}

.swiper-navBtn {
    color: #ec3237;
    transition: color 0.3s ease;
}

.swiper-navBtn:hover {
    color: #ec3237;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
    font-size: 38px;
}

.swiper-button-next {
    right: 0;
    color: #ec3237 !important;
}

.swiper-button-prev {
    left: 0;
    color: #ec3237 !important;
}

.swiper-pagination-bullet {
    background-color: #ec3237 !important;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #ec3237;
}

.location-tittle h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}

#bodyshop-location {
    padding: 40px 0px;
}

#service-location {
    padding: 40px 0px;
}

#location-section {
    padding: 40px 0px;
}

.insurence-parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.insurence-card {
    text-align: center;
    background-color: #f1f1f1;
    padding: 20px;
}

.insurence-card-one img {
    margin-bottom: 15px;
}

.insurence-content p {
    font-size: 25px;
    color: #000;
    margin-bottom: 0px;
}

.heading-title-insurence {
    text-align: center;
}

#insurence-page {
    padding: 40px 0px;
}

.heading-title-advantage {
    padding: 0px 60px;
}

.heading-title-advantage h2 {
    /* text-align: center ; */
    margin-bottom: 20px;
}

.heading-title-advantage ul {
    list-style: none;
    font-size: 18px;
}

/* location testimonial  */

.location-testimonial {
    text-align: center;
    margin-top: 40px;
}

.location-testimonial h2 {
    font-size: 35px;
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .slide-content {
        margin: 0 10px;
    }
    .swiper-navBtn {
        display: none;
    }
}