@media only screen and (max-width: 1024px) {
    .main-card {
        width: 30%;
    }
    .brands-logo {
        gap: 10px;
    }
    .brand-one {
        width: 24%;
    }
    .usedcar-card {
        width: 48%;
    }
    .top-bar1 {
        display: none;
    }
    .topbar-mobile {
        display: block !important;
    }
    .custom-ul .cutom-list-button a {
        padding: 8px 40px !important;
        font-size: 16px;
    }
    .loation-vise-card {
        width: 35%;
    }
    .contact-form {
        margin: 0px;
    }
}

@media only screen and (max-width: 768px) {
    .main-card {
        width: 48%;
    }
    .nav-pills {
        /* display: flex !important; */
        flex-direction: row !important;
        gap: 0px;
        justify-content: space-between;
        margin-bottom: 15px;
    }
    .our-story-image img {
        margin-bottom: 20px;
        width: 100%;
    }
    .tab-pane p {
        margin-bottom: 15px;
    }
    .tab-pane h2 {
        margin-bottom: 15px;
    }
    #our-story {
        padding: 40px 0px 0px 0px;
    }
    .about-right-content {
        padding: 20px 0px 0px 0px;
    }
    .brands-logo {
        gap: 10px;
    }
    .brand-one {
        width: 48%;
    }
    .contact-detail {
        gap: 0px;
    }
    .offer-point-parent {
        flex-direction: column;
    }
    .tabs-width a {
        width: 30%;
    }
    .point-one {
        width: 100%;
    }
    .swiper-slide {
        height: 560px;
    }
    .car-img img {
        width: 100%;
    }
    .location-contact-us {
        margin-bottom: 30px;
    }
    .term-page {
        gap: 10px;
        justify-content: space-between;
    }
    .copyright-text p {
        text-align: center;
        margin-top: 15px;
    }
    .usedcar-card {
        width: 100%;
    }
    .custom-ul .cutom-list-button a {
        padding: 8px 20px !important;
        font-size: 16px;
    }
    .car-image {
        width: 30%;
    }
}

/* slider css  */

@media only screen and (max-width: 525px) {
    .main-card {
        width: 100%;
    }
    .top-bar1 {
        display: none;
    }
    .form-carrer-page {
        padding: 20px 0px;
    }
    .vacancie-text {
        flex-direction: column;
        align-items: baseline;
    }
    .text-position {
        margin-bottom: 20px;
    }
    .text-position p {
        margin-bottom: 5px;
    }
    .job-opning-heading h2 {
        font-size: 35px;
    }
    .bookservice-form {
        padding: 0px 0px;
    }
    .insurence-form {
        padding: 0px;
    }
    .locationwise-text p {
        flex-direction: column;
    }
    .locationwise-text a {
        margin-left: 0px;
    }
    .new-tab-padding {
        padding: 15px 15px !important;
    }
    .copyright {
        padding: 15px 15px;
    }
    .brands-logo {
        padding: 0px 40px;
    }
    .projectFactsWrap .item p {
        font-size: 14px;
    }
    .projectFactsWrap .item p.number {
        font-size: 30px;
    }
    .home-page-tab {
        margin-top: 15px;
    }
    .topbar-mobile {
        padding: 15px 15px;
    }
    .call-mail {
        flex-direction: column;
    }
    .custom-ul .cutom-list-button a {
        padding: 8px 10px !important;
        font-size: 16px;
    }
    .custom-ul {
        padding: 0px !important;
    }
    .loation-vise-card {
        width: 90%;
    }
    .car-image {
        width: 40%;
    }
}

.carousel {
    width: 100%;
}

.slide-box {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .slide-box img {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .slide-box img {
        -ms-flex: 0 0 33.3333%;
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }
}

@media (min-width: 992px) {
    .slide-box img {
        -ms-flex: 0 0 25%;
        flex: 0 0 33%;
        max-width: 33%;
    }
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: .5rem;
}