
.head{background-color:#fff; height: 75px; border-bottom: 2px solid #b9c3d4;  position: relative;}
.logo{ width:155px; padding: 5px 15px 5px; margin-top: 5px; display: inline-block; }
.logo img{ width: 100% }
#right-left{
    justify-content: space-between;
}
.right-icon{
    padding: 9px;
    background-color: #133058;
    margin-top: 15px;
     /*margin-right: -55px;
   display: -webkit-box;*/
    background: rgb(7,92,158);
    background: linear-gradient(315deg, #203f9a 93%, rgba(255,255,255,1) 93%);
    padding-left: 48px;
}
.right-icon a{font-style: italic; text-decoration: none; color: #fff;}
.right-icon a span{display: block; line-height: 18px;}
.right-icon a span strong{display: block;}
.right-icon img{width: 23px;
    height: 27px;
    margin-right: 10px;
    float: left;
    margin-top: 10px;}

.right-icon .contact_no a:hover { opacity: 0.8;}
.m-contact_no{display: none;}


@media only screen and (max-width: 640px) and ( min-width: 320px)
{

.padding-l{padding-left: 0px}
.padding-r{padding-right: 0px}
.head{background-color:#fff; height: 60px; border-bottom: 2px solid #b9c3d4;  position: relative;}
.logo{ width:120px; font-size: 18px; color:#f37636; padding: 5px 15px 5px; border:0px solid #fff; margin-top: 5px; display: inline-block; }
.logo img{ width: 100% }

.right-icon{display: none;}

.m-contact_no{text-align: right; padding: 14px; display: block;}
.m-contact_no img{width: 35px;}
.m-contact_no span{font-weight: 600;}

} 
/* .row{justify-content: space-between;} */
/*header-end*/



.content-section{min-height: 30vh;}
/*-################Img hover effect ################--*/

 p, ul li, label{font-size: 14px;}
.heading{font-size: 28px; font-weight: 600; margin-bottom: 10px; font-family: 'Poppins'; color: #000;}
.heading span{color: #f37636 !important;}
section:hover .border-btn{width: 100%; height: 2px; background-color: #f1f1f1;}

/***************************************/

.form-section{ 
    padding: 0px 0px 0px;
    /* position: relative; */
    background-image: url(../images/ACR\ banner.jpg);
    background-color: #fff; 
    border-top: 0px solid #ccc;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 400px;
    z-index: 0;
    object-fit: cover;    
}

.form-top-icon{text-align: center; width: 100%; margin-bottom: 0px;
  display: grid;}
.form-top-icon ul{ list-style: none; padding: 0px; margin-bottom: 0px;}
.form-top-icon ul li{float: left; padding: 5px; width: 25%; text-align: center;}
.form-top-icon ul li span{display: block;
    margin-bottom: 0px;font-size: 12px; font-weight: 600; line-height: 14px; margin-left: 0px; color: #333;}
.form-top-icon img{width: 22px; margin-bottom: 3px;}

.banner-form{ 
    /* position: absolute; */
     height: auto; width: 100%; left: 8%;
    right: 0%;top: 105px; z-index: 99;
padding: 40px 0px;}
.banner-form h1{ 
    /* font-family: 'Poppins';  */
    
    font-size: 30px;
    text-align: center;
    line-height: 30px;
    color: #000;
    font-weight: 600;
}

.banner-form .msform {
    position: relative;
    border: 0 none;
    border-radius: 0px;
    padding: 12px 0px 10px;
    box-sizing: border-box;
    width: 100%;
    transition: 0.5s;
    top: 0px;
    display: inline-block;
    overflow: hidden;
    background-color: #fff;
    /* box-shadow: 0px 0px 8px #000; */
}
.banner-form .msform .form-group {margin-bottom: 10px;}

.banner-form .msform h4{font-size: 16px;}
.textstyl {height: 37px; width: 100%; padding: 7px 14px; border: 1px solid #afa9a9; font-size: 14px;
        background-color:#fff;color:#000; border-radius: 3px}
.textarea1{min-height: 45px; max-height: 100px; width: 100%; padding: 7px 14px;font-size: 13px;
        background-color:#fff; color:#000; border-radius: 3px}


#step-one{width: 100%; padding: 10px 0px 0px 0px;}
#step-two{width: 100%; display: none; padding: 10px 10px 0px 10px;}

.submit{background: #f37636 !important;
    margin-top: 0px;
    border: 2px solid #fff;
    border-radius: 9px;
    padding: 12px 12px;
    color: #fff;
    font-size: .85rem;
    text-transform: uppercase;
    font-weight: 600;
    /* width: 38% !important; */
    transition: 0.5s;
}
.submit:hover{ background-color: #002e40; color: #fff}
.previous{cursor: pointer; color: #fff; font-weight: 600; font-size: 14px; margin-top: 0px;}


.banner-rating-box{margin-top: 0px; width: 100%; display: inline-block;
 padding: 10px 10px 0px;}
.banner-rating-box ul{ list-style: none; padding: 0px;}
.banner-rating-box ul li{float: left; width: 48%; margin-right: 1%;
 font-style: italic; text-align: center; border-right: 2px solid #000;}
.banner-rating-box ul li span{font-weight: 600; display: block;}
.banner-rating-box ul li span:first-child{color: #f37636; font-size: 14px; font-weight:600; margin-right: 10px;}
.banner-rating-box ul li span:first-child small{font-weight:700;}

/************************************************/
.bottom-banner{background-color: #203f9a; color: #fff; padding: 15px 0px 15px;}
.bottom-banner h3 {text-transform: uppercase; font-size: 26px; margin: 0px;line-height: 
21px; font-weight: 500}
.bottom-banner h3 span{display: block;}
.bottom-banner h3 small{ font-size: 14px; text-transform: capitalize;}

.bottom-banner h4 {font-size: 30px; margin: 0px; line-height:21px; font-weight: 600}
.bottom-banner h4 span{display: block; color: #fff}
.bottom-banner h4 small{ font-size: 16px; text-transform: capitalize; }
/************************************************/

.Welcome-section-bg{padding: 100px 0px 50px;
    background-image: url(../images/banner-mob2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 320px;
    z-index: 0;}


.common-box1{padding: 10px;
    background-color: #fff;
    border: 1px solid #d8dee4;
    min-height: 200px;
    display: inline-block;
    transition: 0.5s;
    position: relative;
    overflow: hidden;
    border-radius: 5px;}
.common-box1 figure{margin-bottom: 24px;}
.common-box1 figure img{height: 250px; width:100%; margin: 0px 0px 0px 0px;}

.common-box1 .count-box .offer-box{position: absolute; width: 95%; top: -45px; padding: 0px;}
.common-box1 .count-box .offer-box img{width: 40px; height: 40px; padding: 5px; background-color: #fff; border: 1px solid #ccc;}

.common-box1 .count-box .offer-box .offer{border-radius: 5px; padding: 1px 20px;float: right;background-color: #f37636;}
.common-box1 .count-box .offer-box .offer span:first-child{margin-top: 0px;color: #fff; font-size: 12px;}
.common-box1 .count-box .offer-box .offer span{display: block; text-align: center;
    color: #fff; font-weight: 500; font-size: 14px;}

.common-box1 .count-box{width: 100%; position: relative;padding: 0px 0% 5px 3%;}
.common-box1 .count-box span{ font-size: 24px; }
.common-box1 .count-box h4{ font-size: 16px; color: #114683; margin-bottom: 5px; }
.common-box1 .count-box p{ margin-bottom: 0px; }

.common-box1 .btn-box{width: 30%; position: relative; float: right; text-align: right;}
.common-box1 .btn-box a{position: absolute; right: 10px; bottom: 0px;}


/********************our main Services****************************/
.our-services {background-size: 100%; padding: 0px 0px; margin: 0px 0px;}
.our-services h4 {text-align: center;margin-bottom: 50px; font-weight: normal;color: rgb(0, 0, 0);}
.our-services h4 span { border-bottom: 2px solid #f37636; padding-bottom: 5px; color: #000;}
.our-services h4 span span{font-weight: 700;}
.our-services .service-box {
  background-color: rgb(255, 255, 255);
  padding: 25px 10px 25px 10px;
  box-shadow: 0px 0 2px rgb(0, 0, 0);
  display: inline-block;
  width: 100%;
  margin-bottom: 25px;  
}
.our-services .service-box figure {text-align: center;}
.our-services .service-box figure img {width: 60px;display: inline-block;}
.our-services .service-box h5 {color: #143258; text-align: center; font-size: 16px;
  font-weight: 600; margin-bottom: 4px;}
.our-services .service-box p {color: #143258; min-height: 43px;text-align: center;margin-bottom: 15px;}
.our-services .service-box .service-btn a {
  background-color: #f37636;
  font-size: 14px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 5px 10px;
  border-radius: 2px;
}
.our-services .service-box .service-btn a:hover {background-color: #f37636;}
/********************our main Services end****************************/
/********************accidental-section****************************/
.accidental-section{padding: 40px 0px; margin-bottom: 30px; /*background-color: #f4ecec;*/}
.accidental-section .accidental-content{width: 100%}
.accidental-section .accidental-content h2{margin-bottom: 30px;}

.accidental-section .accidental-box .accidental-icon{ width: 25%; float: left; }
.accidental-section .accidental-box .accidental-icon img{ width: 60px; margin-top: 0px; /*border-radius: 50%;*/}

.accidental-section .accidental-box .accidental-cont{width: 68%; float: left; margin-left: 10px;}
.accidental-section .accidental-box .accidental-cont h4{margin-bottom: 0px;font-size: 14px; font-weight: 600;}
.accidental-section .accidental-box .accidental-cont p{padding: 3px 0px; }

.accidental-section img{width: 100%; margin-top: 10px;}
/*************************accidental-section end***********************/
/********************price Services****************************/
.price-section{padding: 20px 0px; text-align: center;}
.price-section .price-inner{
    padding: 20px 0px;
    background-image: url(../images/beattheheadnow.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 400px;
    width: 100%;
}
.price-box{color: #fff; padding: 40px 0px;}
.price-box span{background-color: #fff;
    color: #f37636;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    display: inline-flex;}

.price-box h5{font-size: 38px;}
.price-box ul{list-style: none; width: 100%;}
.price-box ul li{ display: inline-block;
    padding: 10px;
    text-align: center;
    font-size: 17px; position: relative;}
.price-box ul li:before{  
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    display: inline-block;
    padding-right: 7px;
    font-size: 17px;
    margin-top: 2px;
    float: left;
    color: #fff;
    vertical-align: middle;
    font-weight: 900;} 
.price-box .btn-color{background-color: #fff; color: #f37636; font-weight: 500;}
/********************oprice Services end****************************/

/************************************************/
.about-section{padding: 50px 0px}

.about-section .about-content{width: 100%}
.about-content h2{ color: #021137; font-size: 30px; font-weight: 400; margin-top: 0px; margin-bottom: 20px;}
.about-content h5{ color: #000; font-size: 18px; margin-top: 0px; text-align: center;}
.about-content h5 span{ color: #f37636;}
.tick{padding: 5px 0px; list-style: none; display:inline-block;}
.tick li{padding: 3px 0px !important; cursor: pointer; width:50%; float:left; 
    font-size: 15px; list-style: none;}
.tick li:before{  
    font-family: "Font Awesome 5 Free";
   content: "\f00c";
   display: inline-block;
   padding-right: 6px;
   font-size: 14px;
   float: left;
   color: #323436;
   vertical-align: middle;
   font-weight: 900; }

.about-section img{width: 100%; box-shadow: 0px 0px 6px #000;}
/************************************************/

.why-choose-section{padding: 20px 0px}
.why-choose-section .choose-content{width: 100%}
.why-choose-section .choose-content h2{margin-bottom: 30px;}

.why-choose-section .choose-box .choose-icon{ width: 25%; float: left; }
.why-choose-section .choose-box .choose-icon img{ width: 60px; border-radius: 50%;}

.why-choose-section .choose-box .choose-cont{width: 68%; float: left; margin-left: 10px;}
.why-choose-section .choose-box .choose-cont h4{margin-bottom: 0px;font-size: 14px; font-weight: 600;}
.why-choose-section .choose-box .choose-cont p{padding: 3px 0px; }

.why-choose-section img{width: 80%}
/************************************************/

.appointment-form{border: 1px solid #ccc; padding: 25px 25px 10px;}

.testimonial-section{padding: 20px 0px;}
.testimonial-section h4{color: #000;}
.testimonial-section .slide-box{
    position: relative;  text-align: justify;
    min-height: 150px;    
    border-radius: 0px;    
    margin: 5px;
    margin-bottom: 50px;
    box-shadow: 0px 0px 0px #c5d0de;
}

.testimonial-section .slide-box .fdb-cont{width: 100%;padding: 5px 15px;
 background-color: #f1f1f1; margin-bottom: 15px;}
.testimonial-section .slide-box .fdb-cont p{padding: 10px 0px; }


.testimonial-section .slide-box .fdb-icon{ width: 100%;}
.testimonial-section .slide-box .fdb-icon img{ width: 50px; height: 50px; margin-right: 15px; border-radius: 50%; float: left;}
.testimonial-section .slide-box .fdb-icon h4{font-size: 16px; margin-bottom: 0px;}
.testimonial-section .slide-box .fdb-icon h4 a{text-decoration: none; color: #000}
.testimonial-section .slide-box .fdb-icon h5{font-size: 14px;}
.testimonial-section .slide-box .fdb-icon h5 a{text-decoration: none; color: #f37636;}


.testimonial-section .slick-prev, .testimonial-section .slick-next {display: none !important;;}


/************************ TESTIMONIALS End************************/

.app-download{padding: 20px 0px;}
.app-download h4{margin-bottom: 20px; margin-top: 80px;}
.app-download p{font-size: 14px;}
.app-btn{}
.app-btn a{border: 2px solid #f37636; color: #f37636; font-weight: 600;}
.app-btn a img{width: 20px; float: left; margin: 2px 3px 0px 0px;}
.app-img{}
.app-img img{width: 90%;}
@media only screen and (max-width: 640px) and ( min-width: 320px){
  .app-download h4{margin-bottom: 20px; font-size: 18px; margin-top: 0px;}
}
/********************we offer end****************************/

.faq-section{}
.faq-section .nav-tabs{ list-style: none; 
    display: inline-block; 
    padding: 0px; 
    border-bottom: 0px;
    width: 100%;
}
.faq-section .nav-tabs li{margin-bottom: 25px;}
.faq-section .nav-tabs li span{
    background-color: #f37636;
    color: #fff;
    padding:10px 14px;
    border-radius: 50%;
    float: left;
}
.faq-section .nav-tabs li a{ 
    width: 90%;
    margin-left: 46px;
    background-color: #f37636;
    color: #fff;
    padding: 8px 10px;
    border-radius: 5px;
    text-decoration: none;}
/************************EXPERT SUGGESTIONS End************************/

/**------------------------START NEWSLETTER DESIGN-----------------------------*/
.top-footer{width: 70%; margin: 0px auto; 
    color: #fff; 
    background-color: #333;
    font-size: 14px;
}
.top-footer .inner-box{display: flex; padding: 10px 20px;}
.top-footer .inner-box i{font-size: 26px; margin-right: 10px; float: left;}
.top-footer .inner-box span{line-height: 20px; font-size: 14px;}
.top-footer .inner-box span small{font-size: 14px;}
.call-bg{ 
    background: url(../images/top-footer.png), linear-gradient(270deg, #ee3131, #333);  
    background-size:100% 100%;
    background-repeat:no-repeat;
    padding-left: 50px !important; font-size: 22px;

}
.call-bg span{line-height: 20px; font-size: 20px !important;}
.call-bg span small{font-size: 14px;}
.email-bg{background-color: #ee3131}
/*----------------------------END NEWSLETTER DESIGN-----------------------------*/



/************************************************/
footer{ background-color: #000000 }
footer .container-fluid{ width:80%; }
footer .container-fluid a{color: #fff;}
footer .footer-contant{padding:10px 5px; color:#ddd; font-size: 12px;}
footer .footer-contant h3{padding: 20px 0px 7px; color: #fff; font-size: 18px; text-transform: capitalize;
 margin-bottom: 10px; text-align: center;}
footer .footer-contant p{color: #fff; font-size: 14px; text-transform: capitalize; margin-bottom: 0px;}
.scroll-top{float: right;} 

footer .all-right{width: 100%; padding: 20px 0px; min-height: 50px; border-top:1px solid #b1b1bb; text-align: center; font-size: 12px;}
footer .all-right p{color: #fff; font-size: 13px;}

.get-qt-side{position:fixed; z-index:9999999; bottom:50%; width: auto; right: 0px; display:none;}
.scroll-top{position:fixed; z-index:9999999; bottom:5px; width: 60px; text-align:right; right: 10px; display:none;}
.whatsapp-footer {position: fixed; z-index:9999999; bottom: 20px; left: 20px;}
.whatsapp-footer img {width: 50px; height: 50px;}


.section-bg{background-color: #f0f0f1;}
.book-now-color{background-color: #f37636; color: #fff !important;}
.book-now{padding: 2px 6px; font-size: 13px;}
/*******************--footer page end--*****************************/
/* second footer */
#mobile-menu{
    /* position: fixed; */
    
    position: fixed;
    width: 100%;
    bottom: 0;

}
.footer-mobile-menu-parent{
    display: flex;
    text-align: center;
    color: #fff;
   
    
}
.whatsapp{
    width: 33.33%;
    padding: 10px 0px;
    background-color: #0f621a;
}
.whatsapp a{
    text-decoration: none;
}
.whatsapp p i{
    padding-right: 5px;
}
.whatsapp p{
    font-size: 16px;
    margin-bottom: 0px;
    color: #fff;
}
.call{
    width: 33.33%;
    padding: 10px 0px;
    background-color: #bd8614;
    
}
.call a{
    text-decoration: none;
}
.call p i{
    padding-right: 5px;
}
.call p{
    font-size: 16px;
    margin-bottom: 0px;
    color: #fff;
}
.mail{
    width: 33.33%;
    padding: 10px 0px;
    background-color: #0b2c3d;
}
.mail a{
    text-decoration: none;
}
.mail p{
    font-size: 16px;
    margin-bottom: 0px;
    color: #fff;
}
.mail p i{
    padding-right: 5px;
}
/* .why-choose-section */
.first-chose-us{
    text-align: center;
    width: 33%;
}
.parent-choose-us{
 display: flex;
}
.wide-range{
    display: flex;
}
.third-chose-us{
    padding-top: 40px;
    width: 33%;
}
.second-chose-us{
    padding-left: 10px;
    padding-right: 10px;
    width: 33%;
}
.third-chose-us{
    padding-left: 10px;
    padding-right: 10px;
}
@media only screen and (width: 768px) {
    .first-chose-us{
        width: 100%;
    }
.second-chose-us{
    width: 100%;
}
.third-chose-us{
    width: 100%;
}

    
}
.text-part{
    text-align: center;
    padding: 0px 15px;
}
.text-part h3{
    margin-bottom: 10px;
    font-size: 28px;
}