@media only screen and (max-width: 640px) and ( min-width: 320px)
{
	.m-margin-tb{margin-top:5px;}
	.ml{margin-left:0px !important;}
	.m-padding-lr{padding-left: 0px !important; padding-right: 0px !important; }
	.m-padding-l{padding-left: 4px;}
	.m-padding-r{padding-right: 0px }	

	.container{padding: 0px}
	.row{margin: 0px;}

	/*section{ overflow:inherit; }*/

	p, ul li, label { font-size: 14px;}

	.heading{font-size: 26px; margin-bottom: 5px; line-height: 22px;}

    .form-section{ background-image: url(../images/banner-mob2.jpg); 
    padding: 0px 0px 0px;
    background-size: 100% auto;
    height: 430px;}

	.form-top-icon{width: 100%;}
	/*.form-top-icon ul{ list-style: none; padding: 0px; margin-bottom: 0px;}*/
	.form-top-icon ul li{float: left; padding: 5px; width: 25%; text-align: center;}
	.form-top-icon ul li span{display: block; font-size: 10px;color: #fff;}


	.banner-form{ position: absolute; height: auto; width: 100%; left: 0%;
	    top: 80px;}
	.banner-form h1{font-size: 18px; padding: 0px 10px; color: #000;}

	.banner-form .msform{background-image: linear-gradient(#133058a1, #222);}
	.banner-form .msform h4{font-size: 16px;}
	.textstyl {height: 40px; padding: 7px 14px; border: 1px solid #afa9a9; font-size: 14px;}
	.textarea1{min-height: 40px;padding: 7px 14px;font-size: 13px;}

	.banner-rating-box{margin-top: 0px; width: 100%; display: inline-block;
	 padding: 10px 10px 0px;}
	.banner-rating-box ul{ list-style: none; padding: 0px;}
	.banner-rating-box ul li{float: left; width: 48%; margin-right: 1%;
	 font-style: italic; text-align: center; border-right: 2px solid #000;}
	.banner-rating-box ul li span{font-weight: 600; display: block;color: #fff;}
	.banner-rating-box ul li span:first-child{color: #f00; font-size: 16px; font-weight:600; margin-right: 10px;}
	.banner-rating-box ul li span:first-child small{font-weight:700;}
	
	
	.submit {background: linear-gradient(#ffffff, #ffffff) !important; border: 2px solid #cdc6c6; color: #f00; font-weight: 700;
	width: 40%;}
	
	
	/************************************************/
	/************************************************/
	.bottom-banner{ padding: 15px 0px 15px; margin-top: 0px}
	.bottom-banner h3 {font-size: 16px; margin: 0px; line-height:23px;}

	.bottom-banner h4 {font-size: 20px; margin: 0px; line-height:25px;}
	.bottom-banner h4 small{ font-size: 16px; float: left; margin-right: 10px; }
	/************************************************/

	.Welcome-section-bg{padding: 30px 0px 50px; background-size: 100% 150px;}
	.common-box1{min-height: 200px; width: 100%;}
	.common-box1 figure{margin-bottom: 24px;}
	.common-box1 figure img{height: 150px; width:100%; margin: 0px 0px 0px 0px;}
	/********************our main Services****************************/


    .m-padding-3{padding-left: 3px; padding-right: 3px;}
    .our-services {padding: 0px 0px; margin: 0px 0px;}
    .our-services .service-box {padding: 15px 10px 15px 10px; margin-bottom: 25px;}
    .our-services .service-box p{min-height: 43px;}
    .our-services .service-box figure img {width: 50px;display: inline-block;}

	/********************our main Services end****************************/
	.accidental-section .accidental-content h2 {margin-bottom: 30px; font-size: 24px;}
        .accidental-section .accidental-content h2 strong{color:#f00}
	/********************price Services****************************/
	.price-section{padding: 20px 0px; text-align: center;}
	.price-section .price-inner{
	    padding: 20px 0px;
	    background-image: none;
	    background-color: #f00;
	    height: auto;
	}
	.price-box{padding: 10px 0px;}
	.price-box span{font-size: 14px;}

	.price-box h5{font-size: 22px;}
	.price-box ul{list-style: none; width: 100%; padding: 0px;}
	.price-box ul li{padding: 4px; font-size: 13px;}
	.price-box ul li:before{padding-right: 7px; font-size: 14px;} 
	.price-box .btn-color{ font-size: 14px; padding: 3px 8px;}
	/********************oprice Services end****************************/

	/************************************************/
	.about-section{padding: 0px 0px}

	.about-section .about-content{width: 100%}
	.about-content h2{font-size: 22px;;margin-bottom: 10px;}
	.about-content h5{font-size: 16px;}
	.tick li{width:100%; font-size: 14px;}
	
	.about-section img{width: 100%; box-shadow: 0px 0px 6px #000;}
	/************************************************/

	.why-choose-section{padding: 20px 0px}
	.why-choose-section .choose-content{
		width: 100%; 
		margin-top: 14px;
    	font-size: 26px;}
	.why-choose-section .choose-content h2{margin-bottom: 20px; font-size: 20px; text-align: center;}
	.why-choose-section .choose-box .choose-icon{ width: 15%;}
	.why-choose-section .choose-box .choose-icon img{ width: 40px;}
	.why-choose-section .choose-box .choose-cont{width: 78%; }

	.why-choose-section img{width: 80%}
	/************************************************/

	.appointment-form{border: 1px solid #ccc; padding: 10px 10px;}

	.testimonial-section{padding: 20px 0px;}
	.testimonial-section h4{margin-bottom: 12px;font-size: 18px;}
	.testimonial-section .Clients-love h4{margin-top: 20px;}
	
	/************************ TESTIMONIALS End************************/

	.app-download{padding: 0px 0px;}
	.app-download h4{font-size: 16px; text-align: center;}

	/********************we offer end****************************/

	.faq-section{}
	.faq-section .nav-tabs{ list-style: none; 
	    display: inline-block; 
	    padding: 0px; 
	    border-bottom: 0px;
	    width: 100%;
	}
	.faq-section .nav-tabs li{margin-bottom: 25px;}
	.faq-section .nav-tabs li span{
	    background-color: #f00;
	    color: #fff;
	    padding:10px 14px;
	    border-radius: 50%;
	    float: left;
	}
	.faq-section .nav-tabs li a{ 
	    width: 90%;
	    margin-left: 46px;
	    background-color: #f00;
	    color: #fff;
	    padding: 8px 10px;
	    border-radius: 5px;
	    text-decoration: none;}
	/************************EXPERT SUGGESTIONS End************************/

	/**------------------------START NEWSLETTER DESIGN-----------------------------*/
	.top-footer{width: 100%; margin: 0px auto; 
	    color: #fff; 
	    background-color: #333;
	    font-size: 14px;
	}
	.top-footer .inner-box{display: flex; padding: 10px 20px;}
	.top-footer .inner-box i{font-size: 26px; margin-right: 10px; float: left;}
	.top-footer .inner-box span{line-height: 20px; font-size: 14px;}
	.top-footer .inner-box span small{font-size: 14px;}
	.call-bg{ 
	    background-image: none;  
	    background-size:100% 100%;
	    background-color: #ee3131;border-bottom: 1px solid #fff;
	    padding-left: 20px !important; font-size: 22px;

	}
	.call-bg span{line-height: 20px; font-size: 20px !important;}
	.call-bg span small{font-size: 14px;}
	.email-bg{background-color: #ee3131}
	/*----------------------------END NEWSLETTER DESIGN-----------------------------*/



	footer .container-fluid{ width:98%; }
	footer .footer-contant{padding:10px 5px; font-size: 12px;}
	footer .footer-contant h3{padding: 0px 0px 7px; font-size: 16px;margin-bottom: 10px;}
	footer .footer-contant p{font-size: 12px;}
	footer .b, strong { font-weight: normal;}
	.scroll-top{float: right;}

	footer .all-right{width: 100%; padding: 20px 0px; min-height: 50px; border-top:1px solid #b1b1bb; text-align: center; font-size: 12px;}
	footer .all-right p{color: #fff; font-size: 13px;}

	.get-qt-side{position:fixed; z-index:9999999; bottom:50%; width: auto; right: 0px; display:none;}
	.scroll-top{position:fixed; z-index:9999999; bottom:5px; width: 60px; text-align:right; right: 10px; display:none;}
	.whatsapp-footer {bottom: 5px; left: 10px;}
	.whatsapp-footer img {width: 35px; height: 35px;}
	/*******************--footer page end--*****************************/


	.first-chose-us{
        width: 100%;
    }
	.second-chose-us{
		width: 100%;
	}
	.third-chose-us{
		width: 100%;
	}
	
} 
